/*homepage and general styling */
h1 {
    font-family: "Brush Script MT", sans-serif;
    font-size: 60px;
    text-align: center;
    background-color: lightgrey;
}

#featuring {
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    color: navy;
    background-color: lightcyan;
}

img {
    height: 350px;
    width: auto;
}

ul,
ol {
    font-family: "Tahoma", sans-serif;
}

p {
    font-family: "Verdana", sans-serif;
    text-align: center;
}

.section {
    text-align: center;
    font-family: "Verdana", sans-serif;
}


/*orange chicken styling */

.orange-chicken {
    color: orangered;
    background-color: rgb(255, 192, 75);
}

.orange-chicken .section {
    color: red;
}

.orange-chicken .recipe-h1 {
    color: red;
    background-color: orange;
    font-family: "Brush Script MT", sans-serif;
}


/*chocolate cake styline */

.chocolate-cake {
    background-color: rgb(199, 157, 110);
}

.chocolate-cake .section,
.chocolate-cake .h4 {
    color: rgb(95, 62, 31);
}

.chocolate-cake .recipe-h1 {
    background-color: rgb(95, 62, 31);
    font-family: "Brush Script MT", sans-serif;
    color: black;
}

/* spaghett styling */ 
.spaghetti {
    background-color: lightgreen;
}

.spaghetti .section {
    color: green;
}

.spaghetti .recipe-h1 {
    background-color: green;
    font-family: "Brush Script MT", sans-serif;
    color: black;
}